/* Mobile Small (320px) */
@media (max-width: 320px) {
    html {
        font-size: 50%;
    }
    .projects-container {
        padding-bottom: 5rem;
        grid-template-columns: 1fr;
        margin: 0 2rem;
    }
    /* Add other necessary styles specific to Mobile Small */
}

/* Mobile Medium (375px) */
@media (max-width: 375px) {
    html {
        font-size: 52.5%;
    }
    .projects-container {
        margin: 0 3rem;
    }
    /* Additional styles for Mobile Medium */
}

/* Mobile Large (425px) */
@media (max-width: 425px) {
    html {
        font-size: 55%;
    }
    .projects-container {
        margin: 0 4rem;
    }
    /* Additional styles for Mobile Large */
}

/* Tablet (768px) */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 8rem 3% 2rem;
    }
    .services,
    .Asigment,
    .footer {
        padding-bottom: 5rem;
    }
    #menu-icon {
        display: block;
    }
    /* Additional tablet-specific adjustments */
}

/* Laptop (1024px) */
@media (max-width: 1024px) {
    html {
        font-size: 65%;
    }
    .projects-container {
        margin: 0 6rem;
    }
    /* Other styles for Laptop screens */
}

/* Laptop Large (1440px) */
@media (max-width: 1440px) {
    html {
        font-size: 70%;
    }
    .projects-container {
        margin: 0 8rem;
    }
    /* Other styles for Laptop Large screens */
}

/* Additional styling adjustments for smaller screens */
@media (max-width: 895px) {
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.15);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img,
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-content {
        margin: 1rem 4rem;
    }
    .services h2,
    .Asigment h2,
    .projects h2 {
        margin-bottom: 3rem;
    }
}
